<% include partials/head %>

    <body>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="jumbotron text-center jumbotron-border jumbotron-bg">
                    <h2>Brew Tool</h2>
                    <p class="lead">Welcome to Brew Tool! Create, Edit and Save your Beer Recipes!</p>
                    <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
                    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
                </div>
            </div>
        </div>
    </body>
</html>
